{% extends "./base.html" %}



{% block pagecontent %}

<div class="container adl-userpage">
    <div class="row">
        <div class="col-sm-12">
            <a class="carditems" href="/">
                <div class="color-bar-borrow color-bar">

                </div>
            </a>
        </div>

        <div class="col-sm-6">
            <a class="carditems" href="#">
                <div class="color-bar-overdue color-bar">

                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="carditems" href="#">
                <div class="color-bar-newcomer color-bar">

                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
