{% extends "./base.html" %}



{% block pagecontent %}

<div class="container adl-detail">
    <div class="row">
        <div class="col-sm-12">
            <div class="carditems clearfix">
                <div class="color-bar-borrow color-bar">

                </div>
                <table class="table detail-table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>借用人</th>
                        <th>色板型号</th>
                        <th>借用数量</th>
                        <th>借用时长</th>
                        <th><input type="checkbox">全选</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <th scope="row">1</th>
                        <td>贾晓乐</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr >
                        <th scope="row">2</th>
                        <td class="" title="超期过多">朱旭 <span class="glyphicon glyphicon-exclamation-sign alert-danger over-danger" aria-hidden="true"> </span></td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr class="active">
                        <th scope="row">3</th>
                        <td>贾晓乐</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr >
                        <th scope="row">4</th>
                        <td>朱旭</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr class="active">
                        <th scope="row">5</th>
                        <td>贾晓乐</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr >
                        <th scope="row">6</th>
                        <td>朱旭</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr class="active">
                        <th scope="row">7</th>
                        <td>贾晓乐</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr >
                        <th scope="row">8</th>
                        <td>朱旭</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr class="active">
                        <th scope="row">9</th>
                        <td>贾晓乐</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr >
                        <th scope="row">10</th>
                        <td>朱旭</td>
                        <td>深咖啡色</td>
                        <td>1</td>
                        <td>2天</td>
                        <td><input type="checkbox"></td>
                    </tr>



                    </tbody>

                </table>
                <nav aria-label="...">
                    <ul class="pager ">
                        <li><a href="#" class="alert-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 拒绝</a></li>
                        <span class="divide-button"> </span>
                        <li><a href="#" class="success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> 通过</a></li>
                    </ul>
                </nav>
                <!--<nav aria-label="..." class="detail-table">-->
                    <!--<ul class="pager">-->
                        <!--<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>-->
                        <!--<li class="next"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            </div>
        </div>

    </div>
</div>
{% endblock %}










