<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数字化平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/main1.css"/>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div class="header">
        <div class="head-left">
            <div class="header-class">
                <a href="../"><img src="../../static/images/DESlogo(white).png" class="logo"></a>
            </div>
        </div>
        <div class="head-left1">
            <div class="header-class">
                <a href="http://10.203.108.21/page/106"><img src="../../static/images/icon_inbox_active.png" class="arrow">
                <h5>Inbox</h5></a>
            </div>
        </div>
        <div class="head-left2">
            <div class="header-class">
                <a href="http://10.203.108.21/page/107"><img src="../../static/images/icon_my_tasks.png" class="arrow">
                <h5>My Tasks</h5></a>
            </div>
        </div>
        <div class="head-middle"></div>
        <div class="head-right-arrow1">
            <div class="header-class">
                <a href="javascript:history.go(-1);"><img src="../../static/images/backward.png" class="arrow"></a>
            </div>
        </div>
        <div class="head-right-arrow2">
            <div class="header-class">
                <a href="javascript:history.go(1);"><img src="../../static/images/forward.png" class="arrow"></a>
            </div>
        </div>
    </div>

<div class="container">
    <div class="list-name">
        <h1>{% block title %}
            undefine
        {% endblock %}</h1>
        <h2>{% block eng_name %}
            undefine
        {% endblock %}</h2>
    </div>
    <div class="p-name">
        <h3></h3>
    </div>
    {% for item in 所有类别 %}
        <div class="p1">
            <div class="p11">
                <a href="{{ item.site_url }}">
                    <img src="{{ item.picture.url }}" class="p-img">
                    <h4 class="description">{{ item.eng_name }}</h4>
                </a>

            </div>
        </div>
    {% endfor %}







    <div class="footer"></div>

</div>
</body>

</html>