{% extends "./base.html" %}
{% block filter %}

    <li id="btn-slide-toggle"><a href="#"><span class="glyphicon glyphicon-filter"></span></a></li>

    <script>
        $(document).ready(function () {
            $("#btn-slide-toggle").click(function () {
                $("#id-div-slide").slideToggle("fast");
            });
        });
    </script>

{% endblock %}

{% block pagecontent %}
    <div class="container adl-home">
        <div class="row">


            <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
            <!--开始演示模态框-->
            <!--</button>-->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                ADL详情
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <!--<thead>-->
                                        <!--<tr>-->
                                        <!--<th>#</th>-->
                                        <!--<th>First Name</th>-->
                                        <!--<th>Last Name</th>-->
                                        <!--<th>Username</th>-->
                                        <!--</tr>-->
                                        <!--</thead>-->
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>名称</td>
                                            <td id="adlname">AAA</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>类型</td>
                                            <td id="adltype">Carpet</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>地区</td>
                                            <td id="adlregion">Global</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>结构号</td>
                                            <td id="adlstruct">DNDI95NAP</td>
                                        </tr>
                                        {#                                        <tr>#}
                                        {#                                            <th scope="row">4</th>#}
                                        {#                                            <td >颜色代码</td>#}
                                        {#                                            <td>FFF</td>#}
                                        {#                                        </tr>#}
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>光泽度</td>
                                            <td id="adlglossy">H</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>标准样板号</td>
                                            <td id="adlstand">C-39</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>目前在库数</td>
                                            <td id="adlstock">5</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>入库时间</td>
                                            <td id="adlcreate">2016-07-10</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">9</th>
                                            <td>到期时间</td>
                                            <td id="adldue">2020-06-16</td>
                                        </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-block btn-primary"
                                    data-dismiss="modal">关闭
                            </button>
                            <!--<button type="button" class="btn btn-primary">-->
                            <!--提交更改-->
                            <!--</button>-->
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="col-md-12 adl-filter clearfix" id="id-div-slide">
                <div class="thumbnail">
                    <!--<img src="img/pms_1465366178.11466342!220x220.jpg">-->
                    <form action="/filter/" method="get">
                        <div class="caption">
                            <div class="col-xs-2"><span class="glyphicon glyphicon-globe"></span> 地区：</div>
                            <div class="col-xs-10"></div>
                            <nav aria-label="...">
                                {% for region in regions %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="region" value="{{ region.name }}"
                                               checked> {{ region.name }}
                                    </label>
                                {% endfor %}

                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="region" value="option1" checked> Global(全球)#}
                                {#                            </label>#}
                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="region" id="inlineCheckbox2" value="option2" checked>#}
                                {#                                Local(本地)#}
                                {#                            </label>#}

                            </nav>
                        </div>
                        <div class="caption">
                            <div class="col-xs-2"><span class="glyphicon glyphicon-th"></span> 类型：</div>
                            <div class="col-xs-10"></div>
                            <nav aria-label="...">
                                {% for type in types %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="type" value="{{ type.name }}"
                                               checked> {{ type.name }}
                                    </label>
                                {% endfor %}

                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="type" id="inlineCheckbox3" value="option1" checked> Leather#}
                                {#                            </label>#}
                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="type" id="inlineCheckbox4" value="option2" checked> Plastic#}
                                {#                            </label>#}
                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="type" id="inlineCheckbox5" value="option3" checked> Weaver#}
                                {#                            </label>#}
                                {#                            <label class="checkbox-inline">#}
                                {#                                <input type="checkbox" name="type" id="inlineCheckbox6" value="option4" checked>#}
                                {#                                Car-Paint#}
                                {#                            </label>#}
                            </nav>
                        </div>

                        <div class="caption">
                            <div class="col-xs-2"><span class="glyphicon glyphicon-copyright-mark"></span> 光泽度：</div>
                            <div class="col-xs-10"></div>
                            <nav aria-label="...">
                                {% for glossy in glossys %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="glossy" value="{{ glossy.name }}"
                                               checked> {{ glossy.name }}
                                    </label>
                                {% endfor %}
                            </nav>
                        </div>

                        <div class="caption">
                            <div class="col-xs-2"><span class="glyphicon glyphicon-list"></span> 列举库存为空：</div>
                            <div class="col-xs-10"></div>
                            <nav aria-label="...">
                                {% for stock in stocks %}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="stock" value="{{ stock }}" checked> {{ stock }}
                                    </label>
                                {% endfor %}

                                {#                                <label class="checkbox-inline">#}
                                {#                                    <input type="checkbox" name="stock" id="inlineCheckbox11" value="有库存" checked> 有库存#}
                                {#                                </label>#}
                                {#                                <label class="checkbox-inline">#}
                                {#                                    <input type="checkbox" name="stock" id="inlineCheckbox12" value="无库存" checked> 无库存#}
                                {#                                </label>#}


                            </nav>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" onclick="sSubmit()" value="提交选择">
                    </form>
                </div>
                <script>

                    {#                    var SelectFalse = false; //用于判断是否被选择条件#}
                    function Submit() {
                        var region = [];
                        var type = [];
                        var glossy = [];
                        var stock = [];
                        var stockCheckBox = $('input[name = stock]');

                        for (var i = 0; i < stockCheckBox.length; i++) {

                            if (stockCheckBox[i].checked) {
                                stock.push(stockCheckBox[i].value)
                            }
                        }
                        var typeCheckBox = $('input[name = type]');

                        for (var i = 0; i < typeCheckBox.length; i++) {

                            if (typeCheckBox[i].checked) {
                                type.push(typeCheckBox[i].value)
                            }
                        }
                        var regionCheckBox = $('input[name = region]');

                        for (var i = 0; i < regionCheckBox.length; i++) {

                            if (regionCheckBox[i].checked) {
                                region.push(regionCheckBox[i].value)
                            }
                        }
                        var glossyCheckBox = $('input[name = glossy]');

                        for (var i = 0; i < glossyCheckBox.length; i++) {

                            if (glossyCheckBox[i].checked) {
                                glossy.push(glossyCheckBox[i].value)
                            }
                        }
                        var d = {
                            'region': region,
                            'type': type,
                            'glossy': glossy,
                            'stock': stock

                        }
                        $.ajax({
                            'type': 'post',
                            'url': 'http://127.0.0.1:8000/filter/',
                            data: d,
                            success: function (data) {
                                var data = JSON.parse(data);
                                console.log(typeof(data));
                                console.log(data)


                                $.each(data, function (k, v) {
                                    console.log(v);

                                })
                                {#                                                        可以循环输出#}

                            }
                        })
                        alert("您选择爱好对应的value是：" + region);
                        alert("您选择爱好对应的value是：" + type);
                        alert("您选择爱好对应的value是：" + glossy);
                        alert("您选择爱好对应的value是：" + stock);

                    }</script>


            </div>


            {% for item in 所有类别 %}

                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="{{ item.picture.url|default:"/media/category/220.png" }}">
                        <div class="caption">
                            <p class="text-center">
                                {#                    {{ item.adl_region.name|length }}#}
                                {#                                {{ item.due_time|date:"SHORT_DATE_FORMAT" }}#}
                                {% if "Global" in item.adl_region.name %}
                                    <span class="glyphicon glyphicon-globe "></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-home "></span>
                                {% endif %}

                                {{ item.name|truncatechars:"8" }}</p>
                            <nav aria-label="...">
                                <ul class="pager ">
                                    <li>
                                        <button id="detail{{ item.id }}" data-toggle="modal" data-target="#myModal"
                                                href="#"
                                                class="btn btn-default"><span class="glyphicon glyphicon-list-alt"
                                                                              aria-hidden="true"> </span> 详情
                                        </button>
                                    </li>
                                    <span class="divide-button"> </span>

                                    {% if username %}


                                        {% if item.stock < 1 %}
                                            <li>
                                                <button id="{{ item.id }}" href="#" class="btn btn-danger"
                                                        disabled="disabled">
                                                <span class="glyphicon glyphicon-shopping-cart"
                                                      aria-hidden="true"> </span> 库存空
                                                </button>
                                            </li>
                                        {% else %}
                                            <li>
                                                <button id="{{ item.id }}" href="#" class="btn btn-primary adl-borrow">
                                                <span class="glyphicon glyphicon-shopping-cart"
                                                      aria-hidden="true"> </span> 借阅
                                                </button>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    <script>
                                        $(document).ready(function () {

                                            $("#detail{{ item.id }}").click(function () {

                                                var d = {'id': {{ item.id }}}
                                                $.ajax({
                                                    'type': 'post',
                                                    'url': 'http://127.0.0.1:8000/getdata/',
                                                    data: d,
                                                    success: function (data) {
                                                        var data = JSON.parse(data);
                                                        console.log(typeof(data));
                                                        console.log(data)
                                                        $("#adlname").text(data.name)
                                                        $("#adltype").text(data.type)
                                                        $("#adlregion").text(data.region)
                                                        $("#adlstruct").text(data.struct)
                                                        $("#adlglossy").text(data.glossy)
                                                        $("#adlstand").text(data.standard)
                                                        $("#adlstock").text(data.stock)
                                                        $("#adlcreate").text(data.create)
                                                        $("#adldue").text(data.due)


                                                        $.each(data, function (k, v) {
                                                            console.log(v);

                                                        })
                                                        {#                                                        可以循环输出#}

                                                    }
                                                })


                                            });
                                        });
                                    </script>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}