{% extends "./base.html" %}



{% block pagecontent %}

<div class="container adl-home">
    <div class="row">
        <div class="col-sm-6">
            <a class="carditems" href="/borrow">
                <div class="color-bar-borrow color-bar">

                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="carditems" href="return.html">
                <div class="color-bar-return color-bar">

                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="carditems" href="/overdue">
                <div class="color-bar-overdue color-bar">

                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a class="carditems" href="/newcome">
                <div class="color-bar-newcomer color-bar">

                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
