<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<style>
    .my-container {
        width: 200px;
        height: 200px;
        background: #ddd;
        margin-top: 5px;
    }
</style>
<div class="sticky-top alert alert-info text-center mb-0 rounded-0 alert-dismissible fade show">
    终于看完bootstrap视频了
    <button class="close" data-dismiss="alert">&times;</button>
</div>
<header class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand navbar-light">
            <a href="#" class="navbar-brand">贾晓乐</a>
            <ul class="navbar-nav float-right">
                <li class="nav-item active"><a href="#" class="nav-link">首页</a></li>
                <li class="nav-item"><a href="#" class="nav-link">关于</a></li>
                <li class="nav-item"><a href="#" class="nav-link">加入我们</a></li>

            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="alert alert-primary mt-4" role="alert">
        This is a primary alert—check it out!
        <button class="close" data-dismiss="alert">&times;</button>
    </div>
    <div class="alert alert-success pb-5" role="alert">
        <button class="close" data-dismiss="alert">&times;</button>

        <h4 class="alert-heading">!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
            so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        <div class="float-right">
            <button class="btn btn-primary">确定</button>
            <button class="btn btn-primary">取消</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 bg-success">col1</div>
        <div class="col-4 bg-danger">col2</div>
        <div class="col-4 bg-info">col3</div>

    </div>
    <div class="row mb-3">
        <div class="col-2 bg-success">col1</div>
        <div class="col-8 bg-danger">col2</div>
        <div class="col-2 bg-info">col3</div>

    </div>
    <div class="row mb-3">
        <div class="col-6 bg-success">col1</div>
        <div class="col-4 bg-danger">col2</div>
        <div class="col-8 bg-info order-md-1">col3</div>

    </div>

    <div class="container">
        <table class="table  table-hover">
            <thead>
            <tr>
                <th class="text-center">bootstrap学习</th>
                <th>studyis best</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>q</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-5">
        <h2 class="text-center">I LOVE NBA</h2>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#east" class="nav-link active" data-toggle="tab active">东部</a>

                </li>
                <li>
                    <a href="#west" class="nav-link" data-toggle="tab">西部</a>

                </li>

            </ul>
            <div class="tab-content py-3">
                <div id="east" class="tab-pane active">
                    <p>2018年东部冠军是 <span class="font-weight-bold text-success" title="凯尔特人" data-toggle="tooltip"
                                        data-placement="top">凯尔特人</span>还是
                        <span class="font-weight-bold text-success" title="凯尔特人" data-toggle="tooltip"
                              data-placement="bottom">骑士</span>?</p>
                </div>
                <div id="west" class="tab-pane">
                    <p>2west2west2west2west2west2west</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

Praesent commodo
Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div>

        <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-segment" style="margin-left: 40%;"></div><div class="ui-slider-segment" style="margin-left: 40%;"></div>
            <div class="ui-slider-segment"></div>
            <div class="ui-slider-segment"></div>
            <div class="ui-slider-segment"></div>
          <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 40%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 40%;"></a></div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script>
    $(function () {
        'use strict';
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>