<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<style>
    .my-container{
        width: 200px;
        height: 200px;
        background: #ddd;
        margin-top: 5px;
    }
</style>

<div class="my-container">
    <div class="bg-primary w-25 h-50">
        jiaxiaole
    </div>
</div>
<div class="my-container">
    <div class="bg-success w-75 h-100">
        jiaxiaole
    </div>
</div>
<div class="my-container pt-3 pl-3">
    <div class="bg-primary w-50 h-50 pt-1 pl-2"></div>
</div>
<div class="my-container px-3 py-3">
    <div class="bg-danger w-100 h-100">hahha</div>
</div>
<div class="my-container px-0 py-0">
    <div class="bg-success w-100 h-100 border-danger">haha</div>
</div>
<button>yes</button>
<button class="btn">button</button>
<button class="btn btn-primary">primary</button>
<button class="btn btn-danger">small</button>
<button class="btn btn-success">success</button>



</body>
</html>