<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<style>
    .my-container {
        width: 200px;
        height: 200px;
        background: #ddd;
        margin-top: 5px;
    }
</style>
<div class="container">
    <div class="row mb-3">
        <div class="col-4 bg-success">col1</div>
        <div class="col-4 bg-danger">col2</div>
        <div class="col-4 bg-info">col3</div>

    </div>
    <div class="row mb-3">
        <div class="col-2 bg-success">col1</div>
        <div class="col-8 bg-danger">col2</div>
        <div class="col-2 bg-info">col3</div>

    </div>
    <div class="row mb-3">
        <div class="col-6 bg-success">col1</div>
        <div class="col-4 bg-danger">col2</div>
        <div class="col-8 bg-info">col3</div>

    </div>
</div>


</body>
</html>