.mycard:hover {
    text-decoration: none;
    box-shadow: 0px 0px 30px rgba(204, 204, 204, 0.986);

}

.mycard {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

}

.card-text {
    color: ivory;
}

.mycard {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.six-img:hover {
    text-decoration: none;
    color: #fff;
    transition: 200ms;
    box-shadow: 0px 0px 30px rgba(204, 204, 204, 0.986);
}

.six-img {
    color: #ddd;
    margin: 15px 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    max-height: 100%;
    height: 180px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(204, 204, 204, 0.1);
}

.top-bar {
    margin-bottom: 100px !important;
}

.bottom-bar {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.patac-foot {
    color: #ddd;
}

.patac-foot:hover {
    text-decoration: none;
    color: #fff;
    transition: 200ms;
}