body{
    margin: 0px;
    background: #091315;
}

.header {
    background-color: #1b1c20;
    height: 38px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header-class {
    text-align: center; 
    width: auto; 
    height:38px; 
    line-height:38px;
}

.logo {
    width: 80px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    width: 25px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

h5 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(221, 221, 221);
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}

.head-left {
    width: 8%;
    height: 100%;
    /* background-color: springgreen; */
}
.head-left1 {
    width: 4.5%;
    height: 100%;
    /* background-color: #ff0080; */
}
.head-left2 {
    width: 7%;
    height: 100%;
    /* background-color: #0000ff; */
}

.head-middle {
    width: 67%;
    height: 100%;
    /* background-color: #ff00c8; */
}


.head-right-arrow1 {
    width: 2%;
    height: 100%;
    /* background-color: #00ccff; */
}

.head-right-arrow2 {
    width: 2%;
    height: 100%;
    /* background-color: #e5ff00; */
}

.head-right-s-icon {
    width: 2%;
    height: 100%;
    /* background-color: #e5ff00; */
}

.head-right-search {
    width: 7%;
    height: 100%;
    background-color: #ff0055;
}

.head-right-plus {
    width: 3%;
    height: 100%;
    background-color: #8400ff;
}

.head-right-account {
    width: 3%;
    height: 100%;
    background-color: #66ff00;
}

h1 {
    color: rgb(214, 214, 214);
    font-family: 微软雅黑;
    text-align: left;
    font-weight: 300;
    font-size: 22px;
}

h2 {
    color: rgb(170, 170, 170);
    font-family: 微软雅黑;
    text-align: left;
    font-weight: 100;
    font-size: 16px;
}

h3 {
    color: rgb(116, 116, 116);
    font-family: 微软雅黑;
    text-align: left;
    font-weight: 100;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1366px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list-name {
    width: 100%;
    height: 100px;
    /* background-color: #808000; */
    margin-top: 30px;
}

.p-name {
    width: 100%;
    height: 40px;
    /* background-color: #c9c968; */
    margin-top: 20px;
}

.p1,.p2,.p3,.p4,.p5 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25%;
    height: 220px;
    /* background-color: salmon; */
    border-radius: 10px;
    text-align: center;
    padding: 0px;
}

.p1,.p2,.p3,.p4,.p5{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 25%;
    height: 220px;
    /* background-color: salmon; */
    border-radius: 10px;
    text-align: center;
    padding: 0px;
}

.p11 {
    width: 95%;
    height: 100%;
    background-color: #171c1f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    border-radius: 10px;
}

.p11:hover {
    width: 95%;
    height: 100%;
    background-color: #171c1f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow:0 0 15px rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
}

h4 {
    margin: 0px;
    padding: 0px;
}

.description {
    font-family: 微软雅黑;
    color: rgb(221, 220, 220);
    font-weight: 100;
    font-size: 17px;
    margin-top: 7px;
}

.p-img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 10px 10px 0 0;
}

.footer {
    height: 150px;
    width: 100%；
    background-color: #091315;
}